
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');
body{
	font-family: 'Poppins', sans-serif;
	width: 100%;
	
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
html{
	scroll-behavior: smooth;
}
.content-container{
	width: 100%;
	background-image: url('images/0001.jpg');
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
	width: 100%;

}
.container{
	width: 1140px;
	margin: auto;
}

/*document entire style*/

/* Home section style */
header{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 2;
}
header .container{
	display: flex;
	justify-content: space-between;
}
header .container .logo{
	paint-order: 15px;
	height: 75px;
}
header .container .logo img{

}
header nav ul{
	list-style: none;
}
header nav ul li{
	display: inline-block;
}
header nav ul li a{
	line-height: 75px;
	padding: 0 15px;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 16px;
	color: white;
}
header nav ul li a:hover{
	background-color: #0099ff;
	color: black;
	font-family: inherit;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: 0.3s;
}

 .dropbtn {
    background:transparent;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.dropbtn a{
	text-decoration: none;
    outline: none;
    color: white;
}
.dropbtn a:hover{
	background-color: #0099ff;
	color: white;
	font-family: inherit;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: 0.3s;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align:center;

}

.dropdown-content a{
	color: black;
    text-decoration: none;
    display: block;
    padding: 3px;
    margin: 0px;
}

.dropdown-content a: {background-color: rgb(0, 153, 255);}

.dropdown:hover .dropdown-content {
    display: block;
} 
.donate{
	color: white;
	text-transform: capitalize;
	margin-top : 20px;
	font-size: 30px;
}
/*menu end*/
 h1{
	margin-top: 230px;
	display: inline-block;
	font-size: 35px;
	color: white;
	text-shadow: 0 0 2px #000;
	width: 50%;
	font-weight: 50;
	line-height: 65px;

}
.span{
	background-color: #0099ff;
	display: inline-block;
	padding: 0 5px;
	font-weight: 500px;
	border-radius: 7px;
	color: black; 
}
 .p{
	color: white;
	width: 50%;
	font-size: 14px;
	line-height: 26px; 
	text-shadow: 0 0 2px #000;
	margin-top: 10px;
}
/*Login form beginning*/
.show-btn{
	background-color: #0099ff;
	padding: 8px 20px;
	margin-bottom: 20px;
	font-weight: 200;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#show:checked ~ .login-container{
	display: block;
}
.login-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.login-container{
	display: none;
	background-color: 	rgb(229, 229, 255);
	width: 410px;
	padding: 30px;
	box-shadow: 0 0 8px;
	box-shadow: rgba(0,0,0,0.5);
	border-radius: 10px;
}
.login-container .login-text{
	font-size: 35px;
	font-weight: 600;
	text-align: center;
}
.login-container form{
	margin-top: -20px;
}
.login-container form .data{
	height: 45px;
	width: 100%;
	margin: 40px 0;
}
.close-btn{
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 18px;
	cursor: pointer;
	color: white;
}
.login-container .close-btn:hover{
	color: #0099ff;
}
form .data{
	font-size: 18px;
}
form .data input{
	height: 100%;
	width:  100%;
	padding-left: 10px;
	font-size: 17px;
	border: 1px solid grey;
}
form .data input:focus{
	border-color: #0099ff;
	border-bottom-width: 2px;
}
form .forgot-pass{
	margin-top: -8px;
}
form .forgot-pass a{
	color: #0099ff;
	text-decoration: none;
}
form .forgot-pass a:hover{
	text-decoration: underline;
}
form .button-type{
	margin: 30px 0;
	height: 45px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
form .button-type .inner{
	height: 100%;
	width: 300%;
	position: absolute;
	left: -100%;
	z-index: -1;
	
	transition: all 0.4s;
}
form button:hover {
	background-color: #0099ff;
	color: white;

}
form .button-type .login-button{
	height: 100%;
	width: 100%;
	border: none;
	color: black;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 1px;
}
form .signup-link{
	text-align: center;

}
form .signup-link a{
	color: #0099ff;
	text-decoration: none;
}
form .signup-link a:hover{
	text-decoration: underline;
}
/*Login form end*/





/* Home section style end */

/*Aboutus page style*/
.containerfull{
	width: 100%;
	
}
.containers{
	width: 1140px;
	margin: auto;
	padding-bottom: 25px;

}
.Abouttitle, .programtitles, .gallerytitle, .cvtitle, .joinustitle{
	padding-top: 25px;
	font-size: 30px;
	text-transform: uppercase;
	word-spacing: 10px;
	letter-spacing: 5px;
	border-bottom: 3px solid #0099ff;
	width: 300px;
	margin: 0 auto 35px;
	text-align: center;
	font-weight: 5%;
}
.how{
	padding-top: 25px;
	padding-bottom: 10px;
}
section{
	padding: 90px 0;
	position: relative;
}

 .main{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	position: relative;
	height: 233px;
}

.main > div{
	width: 350px;
	text-align: center;
	border-radius: 8px;
	height: 215px;
	border: 1px solid white;
	padding: 35px; 
}
.donatebox{
	position: relative;
	width: 400px;
}

.donateboxs{
	background-color: #f5f5f5;
	text-align: center;
	padding-bottom: 25px;
	
	box-shadow: 0 0 3px 0 #c5c5c5;
	
}
.para{
	font-size: 14px;
	margin-top: 15px;
}
.button{
	border:  1px solid #0099ff;
	outline: none;
	padding: 7px 12px;
	margin-top: 15px;
	font-size: 12px;
	border-radius: 3px;
	cursor: pointer;
}

.title{
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;

}
/*About us style end*/


/* programs style*/
.programs{
	background-color: #f5f5f5;
}
.containerbox{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.box{
	background-color: #0099ff;
	text-align: center;
	padding-bottom: 25px;
	border-radius: 5px;
	box-shadow: 0 0 3px 0 #c5c5c5;
	margin-bottom: 15px;
}
.donatebox{
	background-color: #0099ff;
	text-align: center;
	padding-bottom: 25px;
	border-radius: 5px;
	box-shadow: 0 0 3px 0 #c5c5c5;
	margin-bottom: 15px;
}
.boximage{
	width: 100%;
	height: 300px;
	background-position: center;
	position: relative;
	overflow: hidden;
	border-radius: 5px 5px 0 0;
}

.boximage::after{
	width: 100%;
	height: 100%;
	background-position: cover;
	background-size: cover;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	transition: 0.4s;
	filter: grayscale(100%); /* gives it its complete gray image*/
}
.box:nth-child(1) .boximage,
.box:nth-child(1) .boximage:after{
	background-image: url(images/0001.jpg);
}
.box:nth-child(2) .boximage,
.box:nth-child(2) .boximage:after{
	background-image: url(images/0003.jpg);
}
.box:nth-child(3) .boximage,
.box:nth-child(3) .boximage:after{
	background-image: url(images/0001.jpg);
}
.box:hover .boximage:after{
	top: 100%; /* makes the gray image go down completely*/
}
.programtitle{
	font-size: 15px;
	margin-top: 15px;
	font-weight: 550;
	color: #444;
}
.Donationcount{
	font-size: 12px;
	font-weight: 550;
	margin-top: 10px;
}
.Donationcount span{
	color: white;
}
.buttons{
	position: absolute;
	background-color: white;
	color: black;
	transform: translate(-50%);
	border-radius: 60px;
	padding: 7px 15px;
	outline: none;
	cursor: pointer;
}
/*programs style end*/


.gallerycontainer{
	column-count: 3;
	column-gap: 40px;
}
.items{
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}
.gallerycontainer img{
	width: 100%;
	display: block;
	transition: 0.4s;
}
.gallerycontainer .img-title{
	position: absolute;
	top: 50;
	right: 0;
	left: 0;
	bottom: 50;
	border border-radius: 5px;
	font-size: 30px;
	font-weight: bold;
	opacity: 0;
	z-index: 1;
	transition: 0.4s;
	text-align: center;
	justify-content: center;
	margin-top: 25%;
}

.gallerycontainer .items:hover .img-title{
	opacity: 1;
	color: black;
}
.gallerycontainer .items:hover img{
	transform: scale(1.2);
	opacity: 0.3;
}

/*gallery style end*/

/*footer beginning*/
footer .containers{
	width: 1140px;
	margin: auto;
	padding-bottom: 25px;
}
footer{
	background-color: #181818;
	color: #7f7f7f;
	padding: 50px 0;
	font-size: 14px;
}
footer .subcon{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	grid-gap: 50px;
}
footer .title{
	font-size: 15px;
	font-weight: 450;
	text-transform: uppercase;
	border-bottom: 2px solid;
	margin-bottom: 30px;
	padding: 0 0 5px 0;
	width: 180px;
	text-align: left;
}
footer p{
	margin-bottom: 10px;
}
footer .readcontainer ul{
	list-style: none;
}
footer .linkscontainer ul{
	list-style: none;
}
footer .linkscontainer, .readcontainer ul li a{
	text-decoration: none;
	color: #7f7f7f;
	margin-bottom: 10px;
	display: inline-block;
}
.linkscontainer ul li a{
	text-decoration: none;
	color: #7f7f7f;
	margin-bottom: 10px;
	display: inline-block;
}
footer .newslettercontainer p{
	margin-bottom: 25px;
}
footer .newslettercontainer input{
	background-color: transparent;
	border: 1px solid #7f7f7f;
	outline: none;
	padding: 10px 15px;
	width: 100%;
	margin-top: 5px;
	color: #ccc;
	border-radius: 30px;
}
.linkicons{
	float: right;
}
.class{
	text-align: center;
	margin-top: 50px;
}
.class p{
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 450%;
	text-shadow: 0 0 2px #000;
}
 .fa-brands, .fa-solid{
 	margin-top: 8px;
	font-size: 30px;
	margin-right: 10px;
}
.link{
	margin-left: 5px;
}
/*footer end*/